    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Wish List</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">home</a></li>
            <li><a href="/about">about</a></li>
           
          </ul>
        </div>
    </nav>